<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>EMBEBIDOS</title>
</head>
<body>

<h1>Monitoreo de Sensores(Tema)</h1>
<img src="/static/images/enc.jpg" alt="user">
<h1>Estado_Sensor_1:</h><h id="sensor1">--</h1>
<button id = 'LED1On'type="button" onclick="senso1();">
sen1!</button>
<h1>Estado_Sensor_2:</h><h id="sensor2">--</h1>
<button id = 'LED1Off' type="button" onclick="senso2();">
sen2!</button>


<!--Para comentar se agrega estos simbolos de esta forma-->

<script>
/*
function LED1_On() {
	alert("led on");
	console.log("led on");
  
}
function LED1_Off(){
	alert("led off");
	console.log("led off");
}
*/
</script>
</body>
</html>

